<!DOCTYPE html>
<html>
<style>
body {
  font-family: Georgia, serif;
  font-size: 13px;
}



div.a {
  text-align: center;
}

div.b {
  text-align: left;
}

div.c {
  text-align: right;
} 

div.d {
  text-align: justify;
} 

h1 {
  font-size: 23px;
}

h2 {
  font-size: 16px;
}

p {
  font-size: 14px;
}
q {
  font-size: 14px;
}
</style>
</head>
<body>
	<table border=0.5 cellpadding=5 cellspacing=6 width='100%' style='border-collapse:
	collapse;table-layout:fixed;width:auto'>

	<tr>
		<td style="background-color:rgb(229, 231, 234);" colspan="7"><b><h1><center>INSPECTION NOTE BOOK</center></h1></b></td>
	</tr>

	
	<tr>
		<td  style="background-color:rgb(210, 240, 211);"colspan="7"><h2><center>(vide para 36 of the E.P.F.Scheme,1952)</center></h2></td>
	</tr>


	<tr>
		<td  colspan="3">Name of the Establishment :
			<br>
				Address:
			</br>
		</td>
		<td  colspan="4">{{Employees.name_of_contractor}}
			<br>
				{{Employees.address_of_contractor}}
			</br>
		</td>

	</tr>


	<tr>
		<td colspan="3">Code No. AP/</td>
		<td colspan="4"></td>
	</tr>


	<tr>
		<td colspan="1"><center>Date of Visit</center></td>
		<td colspan="2"><center>Period for which
			accounts checked</center></td>
		<td colspan="2"><center>Observations of Inspector</center></td>
		<td colspan="2"><center>Compliance by employer #</center></td>

	</tr>

	<tr>
		<td colspan="1"><center>1</center></td>
		<td colspan="2"><center>2</center></td>
		<td colspan="2"><center>3</center></td>
		<td colspan="2"><center>4</center></td>

	</tr>

	<tr>
		
		<td colspan="1"><br></br></td>
		<td colspan="2"></td>
		<td colspan="2"></td>
		<td colspan="2"></td>
		

	</tr>


	<tr>
		
		<td colspan="1"><br></br></td>
		<td colspan="2"></td>
		<td colspan="2"></td>
		<td colspan="2"></td>
		

	</tr>


	<tr>
		
		<td colspan="1"><br></br></td>
		<td colspan="2"></td>
		<td colspan="2"></td>
		<td colspan="2"></td>
		

	</tr>


	<tr>
		
		<td colspan="1"><br></br></td>
		<td colspan="2"></td>
		<td colspan="2"></td>
		<td colspan="2"></td>
		

	</tr>


	<tr>
		
		<td colspan="1"><br></br></td>
		<td colspan="2"></td>
		<td colspan="2"></td>
		<td colspan="2"></td>
		

	</tr>


	<tr>
		
		<td colspan="1"><br></br></td>
		<td colspan="2"></td>
		<td colspan="2"></td>
		<td colspan="2"></td>
		

	</tr>


	<tr>
		
		<td colspan="1"><br></br></td>
		<td colspan="2"></td>
		<td colspan="2"></td>
		<td colspan="2"></td>
		

	</tr>


	<tr>
		
		<td colspan="1"><br></br></td>
		<td colspan="2"></td>
		<td colspan="2"></td>
		<td colspan="2"></td>
		

	</tr>


	<tr>
		
		<td colspan="1"><br></br></td>
		<td colspan="2"></td>
		<td colspan="2"></td>
		<td colspan="2"></td>
		

	</tr>


	<tr>
		
		<td colspan="1"><br></br></td>
		<td colspan="2"></td>
		<td colspan="2"></td>
		<td colspan="2"></td>
		

	</tr>


	<tr>
		
		<td colspan="1"><br></br></td>
		<td colspan="2"></td>
		<td colspan="2"></td>
		<td colspan="2"></td>
		

	</tr>


	

	

</body>
</html>