<!DOCTYPE html>
<html>
<style>
body {
  font-family: Georgia, serif;
  font-size: 13px;
}



div.a {
  text-align: center;
}

div.b {
  text-align: left;
}

div.c {
  text-align: right;
} 

div.d {
  text-align: justify;
} 

h1 {
  font-size: 23px;
}

h2 {
  font-size: 16px;
}

p {
  font-size: 14px;
}
q {
  font-size: 14px;
}
</style>
</head>
<body>
	<table border=0.5 cellpadding=8 cellspacing=4 width='100%' style='border-collapse:
	collapse;table-layout:fixed;width:auto'>

	<tr>
		<td style="background-color:rgb(229, 231, 234);" colspan="10"><b><h1><center>INSPECTION BOOK UNDER E.S.I.ACT</center></h1></b></td>
	</tr>



	

	<tr>
		<td  colspan="5">Name of the Inspector:</td>
		<td  colspan="5"></td>

	</tr>

	

	<tr>
		<td colspan="5">Date of Inspection:</td>
		<td  colspan="5">Time:</td>

	</tr>
	<tr>
		<td  colspan="5">Manager or other officer present at the time of Inspection
		</td>
		<td  colspan="5">{{Employees.Name_of_the_Principal_Employer}}
			<br>
				{{Employees.Address_of_the_principal_Employer}}
			</br>
		</td>

	</tr>

	<tr>
		<td style="background-color:rgb(184, 210, 248);" colspan="10"><b><h2><center>Remarks by Inspector</center></h2></b></td>
	</tr>

	<tr>
		<td colspan="10"></td>
	</tr>
	<tr>
		<td colspan="10"></td>
	</tr>
	<tr>
		<td colspan="10"></td>
	</tr>
	<tr>
		<td colspan="10"></td>
	</tr>
	<tr>
		<td colspan="10"></td>
	</tr>
	<tr>
		<td colspan="10"></td>
	</tr>
	<tr>
		<td colspan="10"></td>
	</tr>
	<tr>
		<td colspan="10"></td>
	</tr>
	<tr>
		<td colspan="10"></td>
	</tr>
	<tr>
		<td colspan="10"></td>
	</tr>
	<tr>
		<td colspan="10"></td>
	</tr>
	<tr>
		<td colspan="10"></td>
	</tr>
	<tr>
		<td colspan="10"></td>
	</tr>
	<tr>
		<td colspan="10"></td>
	</tr>
	
	<tr>
		<td colspan="10"></td>
	</tr>
	
	<tr>
		<td colspan="10"></td>
	</tr>
	
	<tr>
		<td colspan="10"></td>
	</tr>
	
	<tr>
		<td colspan="10"></td>
	</tr>
	
	<tr>
		<td colspan="10"></td>
	</tr>
	
	<tr>
		<td colspan="10"></td>
	</tr>
	
	<tr>
		<td colspan="10"></td>
	</tr>
	

	

</body>
</html>