<!DOCTYPE html>
<html>
<style>
body {
  font-family: Georgia, serif;
}



div.a {
  text-align: center;
}

div.b {
  text-align: left;
}

div.c {
  text-align: right;
} 

div.d {
  text-align: justify;
} 

h1 {
  font-size: 23px;
}

h2 {
  font-size: 16px;
}

p {
  font-size: 12px;
}
q {
  font-size: 18px;
}
</style>
</head>
<body>
	<table border=0.5 cellpadding=3 cellspacing=0 width='100%' style='border-collapse:
	collapse;table-layout:fixed;width:auto'>

	<tr>
		<td style="background-color:rgb(229, 231, 234);" colspan="11"><b><h1><center>FORM A</center></h1></b></td>
	</tr>

	<tr>
		<td style="background-color:rgb(210, 240, 211);" colspan="11"><h2><center>[See Rule 3 of Maternity Act Rules, 1965]</center></h2></td>
	</tr>

	<tr>
		<td style="background-color:rgb(229, 231, 234);" colspan="11"><b><q><center>MUSTER ROLL</center></q></b></td>
	</tr>

	<tr>
		<td colspan="11"><p>Name of [mine or circus]: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; {{Employees.name_of_contractor}}</p>
		<div class="a"><p>{{Employees.address_of_contractor}}</p></div> </td></tr>
	<tr>
		<td colspan="1"><p><center><p>1.</p></center></p></td>
		<td colspan="10"><p>Serial Number.</p></td>
		

	<tr>
		<td colspan="1"><p><center><p>2.</p></center></p></td>
		<td colspan="10"><p>Name of woman and her father's (or, if married, husband's) name.</p></td>
		
	</tr>
	<tr>
		<td colspan="1"><p><center><p>3.</p></center></p></td>
		<td colspan="10"><p>Date of appointment.</p></td>
		
	</tr>
	<tr>
		<td colspan="1"><p><center><p>4.</p></center></p></td>
		<td colspan="10"><p>Nature of work.</p></td>
		
	</tr>

	<tr>
		<td colspan="1"><p><center><p>5.</p></center></p></td>
		<td colspan="10"><p>Dates with month and year in which she is employed, laid off and not employed.</p></td>
		
	</tr>





	
	<tr>
		<td colspan="1"><center><p></p></center></td>
		<td colspan="2"><center><p>Month</p></center></td>
		<td colspan="2"><center><p>No.of days employed</p></center></td>
		<td colspan="2"><center><p>No.of days laid off</p></center></td>
		<td colspan="2"><center><p>No.of days not employed</p></center></td>
		<td colspan="2"><center><p>Remarks</p></center></td>
	</tr>

	<tr>
		<td colspan="1"><center><p></p></center></td>
		<td colspan="2"><center><p></p></center></td>
		<td colspan="2"><center><p></p></center></td>
		<td colspan="2"><center><p></p></center></td>
		<td colspan="2"><center><p></p></center></td>
		<td colspan="2"><center><p></p></center></td>
	</tr>
	
	<tr>
		<td colspan="1"><center><p></p></center></td>
		<td colspan="2"><center><p></p></center></td>
		<td colspan="2"><center><p></p></center></td>
		<td colspan="2"><center><p></p></center></td>
		<td colspan="2"><center><p></p></center></td>
		<td colspan="2"><center><p></p></center></td>
	</tr>

	<tr>
		<td colspan="1"><center><p></p></center></td>
		<td colspan="2"><center><p></p></center></td>
		<td colspan="2"><center><p></p></center></td>
		<td colspan="2"><center><p></p></center></td>
		<td colspan="2"><center><p></p></center></td>
		<td colspan="2"><center><p></p></center></td>
	</tr>

	
	
	
	
	
	<tr>
		<td colspan="1"><center><p></p></center></td>
		<td colspan="2"><center><p></p></center></td>
		<td colspan="2"><center><p></p></center></td>
		<td colspan="2"><center><p></p></center></td>
		<td colspan="2"><center><p></p></center></td>
		<td colspan="2"><center><p></p></center></td>
	</tr>
	
	<tr>
		<td colspan="1"><center><p></p></center></td>
		<td colspan="2"><center><p></p></center></td>
		<td colspan="2"><center><p></p></center></td>
		<td colspan="2"><center><p></p></center></td>
		<td colspan="2"><center><p></p></center></td>
		<td colspan="2"><center><p></p></center></td>
	</tr>
	


	<tr>
		<td colspan="1"><center><p>6.</p></center></td>
		<td colspan="8"><p>Date on which the woman gives notice under section 6.</p></td>
		<td colspan="2"><p></p></td>
		
	</tr>

	<tr>
		<td colspan="1"><center><p>7.</p></center></td>
		<td colspan="8"><p>Date of discharge/dismissal, if any.</p></td>
		<td colspan="2"><p></p></td>
		
	</tr>

	<tr>
		<td colspan="1"><center><p>8.</p></center></td>
		<td colspan="8"><p>Date of production of proof of pregnancy under section 6.</p></td>
		<td colspan="2"><p></p></td>
		
	</tr>

	<tr>
		<td colspan="1"><center><p>9.</p></center></td>
		<td colspan="8"><p>Date of birth of child.</p></td>
		<td colspan="2"><p></p></td>
		
	</tr>

	<tr>
		<td colspan="1"><center><p>10.</p></center></td>
		<td colspan="8"><p>Date of production of proof of delivery/miscarriage/1[Medical Termination of pregnancy/ tubectomy operation/death.]</p></td>
		<td colspan="2"><p></p></td>
		
	</tr>

	<tr>
		<td colspan="1"><center><p>11.</p></center></td>
		<td colspan="8"><p>Date of production of proof of illness referred to in section 10.</p></td>
		<td colspan="2"><p></p></td>
		
	</tr>

	<tr>
		<td colspan="1"><center><p>12.</p></center></td>
		<td colspan="8"><p>Date with the amount of maternity benefit paid in advance of expected delivery.</p></td>
		<td colspan="2"><p></p></td>
		
	</tr>

	<tr>
		<td colspan="1"><center><p>13.</p></center></td>
		<td colspan="8"><p>Date with the amount of subsequent payment of maternity benefit.</p></td>
		<td colspan="2"><p></p></td>
		
	</tr>

	<tr>
		<td colspan="1"><center><p>14.</p></center></td>
		<td colspan="8"><p>Date with the amount of bonus, if paid, under section 8.</p></td>
		<td colspan="2"><p></p></td>
		
	</tr>

	<tr>
		<td colspan="1"><center><p>15.</p></center></td>
		<td colspan="8"><p>Date with the amount of wages paid on account of leave under section 9.</p></td>
		<td colspan="2"><p></p></td>
		
	</tr>

	<tr>
		<td colspan="1"><center><p>15.A</p></center></td>
		<td colspan="8"><p>Date with the amount of wages paid on account of leave under section 9A</p></center></td>
		<td colspan="2"><p></p></td>
		
	</tr>

	<tr>
		<td colspan="1"><center><p>16.</p></center></td>
		<td colspan="8"><p>Date with the amount of wages paid on account of leave under section 10 and period of leave granted</p></td>
		<td colspan="2"><p></p></td>
		
	</tr>

	<tr>
		<td colspan="1"><center><p>17.</p></center></td>
		<td colspan="8"><p>Name of the person nominated by the woman under section 6.</p></td>
		<td colspan="2"><p></p></td>
		
	</tr>

	<tr>
		<td colspan="1"><center><p>18.</p></center></td>
		<td colspan="8"><p>If the woman dies, the date of her death, the name of the person to whom maternity benefit and/or other amount was paid, the amount thereof, and the date of payment.</p></td>
		<td colspan="2"><p></p></td>
		
	</tr>

	<tr>
		<td colspan="1"><center><p>19.</p></center></td>
		<td colspan="8"><p>If the woman dies and the child survives, the name of the person to whom the amount of maternity benefit was paid on behalf of the child and the period for which it was paid.</p></td>
		<td colspan="2"><p></p></td>
	</tr>

	

	<tr>
		<td colspan="1"><center><p>20.</p></center></td>
		<td colspan="8"><p>Signature of the employer of [the mine or circus] authenticating the entries in the muster-roll.</p></td>
		<td colspan="2"><p></p></td>
		
	</tr>

	<tr>
		<td colspan="1"><center><p>21.</p></center></td>
		<td colspan="8"><p>Remarks column for the use of the Inspector.</p></td>
		<td colspan="2"><p></p></td>
		
	</tr>

	<tr>
		<td colspan="11">
			<div class="c">
				<p>Certifited that no pregnant employee worked for the month of <b>{{formatDate}} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
				</div>
	
				<div class="c">
				<p>For <b>{{Employees.name_of_contractor}}</b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
				</div>
	
				<div class="c">
				<p>Authorized Signatory &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
				
				</div>
		</td>
	</tr>
	





			
	

</body>
</html>