
<html>
	<body>
	<table border=1 cellpadding=4 cellspacing=4 width='100%' style='border-collapse:
	 collapse;table-layout:fixed;width:auto'>
	   
	 
	 <tr>
	  
	  <td bgcolor="Gainsboro" style="font-size:30px" colspan=90><center><b>FORM XXV- REGISTER OF LEAVE</b></center></td>
	 </tr>
	 
	 <tr >
	  
	  <td bgcolor="silver" style="font-size:15px"colspan=90><center>(Vide Rule 29(6) of A.P.{T.S.} Shops &amp;
	  Establishments Rules,1990)</center></td>
	 </tr>
	 <tr rowspan=20>
	  
	  <td colspan=30>&nbsp Name and address of the Establishment/Shop:</td>
	  <td style="font-size:10px"colspan=60>{{Employees.name_of_contractor}}; {{Employees.address_of_contractor}}</td>
	  </tr>
	  
	 
	 <tr>
	  <td colspan=18>&nbsp Name of the Employee:</td>
	  <td colspan=18>&nbsp {{Employees.Name_Employeer_Aadhar_Card}}</td>
	  <td colspan=18>&nbsp </td>
	  <td colspan=18>&nbsp Registration Number:</td>
	  <td colspan=18></td>
	  </tr>
	  
	  <tr>
	  <td colspan=18>&nbsp Father's / Husband's Name:</td>
	  <td colspan=18>&nbsp {{Employees.Father_Name}}</td>
	  <td colspan=18>&nbsp </td>
	  <td colspan=18>&nbsp Date of appointment :</td>
	  <td colspan=18>&nbsp {{Employees.Date_of_Joining}}</td>
	  </tr>
	  
	  <tr bgcolor="Gainsboro" >
	  <td colspan=9 rowspan="2">Date of Application</td>
	  <td colspan=15 ><center>APPLIED</center></td>
	  <td colspan=7 >No. of<br>
		Days to<br>
		which the<br>
		employee<br>
		is entitled</td>
	  <td colspan=15 ><center>LEAVE GRANTED</center></td>
	  <td colspan=7 ><center>Balence</center></td>
	  <td colspan=15 ><center>IF REFUSED IN PART OR FULL</center></td>
	  
	  <td colspan=7 >REASONS</td>
	  <td colspan=15 ><center>SIGNATURE OF</center></td>
	 </tr>
	 <tr >
		<td colspan="4">Form<br>
			(Date)</br></td>
	  <td colspan="6">To(Date)</td>
	  <td colspan="5">No. of<br>
		Days</td>
	<td colspan="7"></td>



		
		<td colspan="4">Form<br>
			(Date)</br></td>
	  <td colspan="6">To(Date)</td>
	  <td colspan="5">No. of<br>
		Days</td>
		<td colspan="7"></td>





		<td colspan="4">Form<br>
			(Date)</br></td>
	  <td colspan="6">To(Date)</td>
	  <td colspan="5">No. of<br>
		Days</td>
		<td colspan="7"></td>

	  <td colspan="7">Employee</td>
	  <td colspan="8">Employer</td>
	 </tr>
	 <tr >
	  <td colspan="6"><center>1</center></td>
	  <td colspan="6"><center>2</center></td>
	  <td colspan="6"><center>3</center></td>
	  <td colspan="6"><center>4</center></td>
	  <td colspan="6"><center>5</center></td>
	  <td colspan="6"><center>6</center></td>
	  <td colspan="6"><center>7</center></td>
	  <td colspan="6"><center>8</center></td>
	  <td colspan="6"><center>9</center></td>
	  <td colspan="6"><center>10</center></td>
	  <td colspan="6"><center>11</center></td>
	  <td colspan="6"><center>12</center></td>
	  <td colspan="6"><center>13</center></td>
	  <td colspan="6"><center>14</center></td>
	  <td colspan="6"><center>15</center></td>
	 </tr>
	
	 <tr>
	  <td colspan="6"></td>
	  <td colspan="6"></td>
	  <td colspan="6"></td>
	  <td colspan="6"></td>
	  <td colspan="6"></td>
	  <td colspan="6"></td>
	  <td colspan="6"></td>
	  <td colspan="6"></td>
	  <td colspan="6"></td>
	  <td colspan="6"></td>
	  <td colspan="6"></td>
	  <td colspan="6"></td>
	  <td colspan="6"></td>
	  <td colspan="6"></td>
	  <td colspan="6"></td>
	
	 </tr>
	 
	 
	 
	 <tr>
	 <td style="font-size:23px" colspan=90><center> <b>LEAVE WITH WAGES </b></center></td>
	 
	 </tr>
	 
	 
	 
	 
	 
	 
	  
	  <tr>
	  <td colspan="6"><center>JAN'20</center></td>
	  <td colspan="6"><center>0</center></td>
	  <td colspan="6"><center>0</center></td>
	  <td colspan="6"><center>0</center></td>
	  <td colspan="6"><center>1</center></td>
	  <td colspan="6"><center>0</center></td>
	  <td colspan="6"><center>0</center></td>
	  <td colspan="6"><center>0</center></td>
	  <td colspan="6"><center>1</center></td>
	  <td colspan="6"><center>NO</center></td>
	  <td colspan="6"><center>N/A</center></td>
	  <td colspan="6"><center>N/A</center></td>
	  <td colspan="6"><center>N/A</center></td>
	  <td colspan="6"></td>
	  <td colspan="6"></td>
	  </tr>
	  
	
	  <tr>
		<td colspan="6"></td>
		<td colspan="6"></td>
		<td colspan="6"></td>
		<td colspan="6"></td>
		<td colspan="6"></td>
		<td colspan="6"></td>
		<td colspan="6"></td>
		<td colspan="6"></td>
		<td colspan="6"></td>
		<td colspan="6"></td>
		<td colspan="6"></td>
		<td colspan="6"></td>
		<td colspan="6"></td>
		<td colspan="6"></td>
		<td colspan="6"></td>
	  
	   </tr>
	
	   <tr>
		<td colspan="6"></td>
		<td colspan="6"></td>
		<td colspan="6"></td>
		<td colspan="6"></td>
		<td colspan="6"></td>
		<td colspan="6"></td>
		<td colspan="6"></td>
		<td colspan="6"></td>
		<td colspan="6"></td>
		<td colspan="6"></td>
		<td colspan="6"></td>
		<td colspan="6"></td>
		<td colspan="6"></td>
		<td colspan="6"></td>
		<td colspan="6"></td>
	  
	   </tr>
	  
	   <tr>
		<td colspan="6"></td>
		<td colspan="6"></td>
		<td colspan="6"></td>
		<td colspan="6"></td>
		<td colspan="6"></td>
		<td colspan="6"></td>
		<td colspan="6"></td>
		<td colspan="6"></td>
		<td colspan="6"></td>
		<td colspan="6"></td>
		<td colspan="6"></td>
		<td colspan="6"></td>
		<td colspan="6"></td>
		<td colspan="6"></td>
		<td colspan="6"></td>
	  
	   </tr>


	   <tr>
		<td colspan="6"></td>
		<td colspan="6"></td>
		<td colspan="6"></td>
		<td colspan="6"></td>
		<td colspan="6"></td>
		<td colspan="6"></td>
		<td colspan="6"></td>
		<td colspan="6"></td>
		<td colspan="6"></td>
		<td colspan="6"></td>
		<td colspan="6"></td>
		<td colspan="6"></td>
		<td colspan="6"></td>
		<td colspan="6"></td>
		<td colspan="6"></td>
	  
	   </tr>
	   
	   <tr>
		<td colspan="6"></td>
		<td colspan="6"></td>
		<td colspan="6"></td>
		<td colspan="6"></td>
		<td colspan="6"></td>
		<td colspan="6"></td>
		<td colspan="6"></td>
		<td colspan="6"></td>
		<td colspan="6"></td>
		<td colspan="6"></td>
		<td colspan="6"></td>
		<td colspan="6"></td>
		<td colspan="6"></td>
		<td colspan="6"></td>
		<td colspan="6"></td>
	  
	   </tr>


	   <tr>
		<td colspan="6"></td>
		<td colspan="6"></td>
		<td colspan="6"></td>
		<td colspan="6"></td>
		<td colspan="6"></td>
		<td colspan="6"></td>
		<td colspan="6"></td>
		<td colspan="6"></td>
		<td colspan="6"></td>
		<td colspan="6"></td>
		<td colspan="6"></td>
		<td colspan="6"></td>
		<td colspan="6"></td>
		<td colspan="6"></td>
		<td colspan="6"></td>
	  
	   </tr>
	   
	   

		<tr>
	  <td colspan="6"></td>
	  <td colspan="6"></td>
	  <td colspan="6"></td>
	  <td colspan="6"></td>
	  <td colspan="6"></td>
	  <td colspan="6"></td>
	  <td colspan="6"></td>
	  <td colspan="6"></td>
	  <td colspan="6"></td>
	  <td colspan="6"></td>
	  <td colspan="6"></td>
	  <td colspan="6"></td>
	  <td colspan="6"></td>
	  <td colspan="6"></td>
	  <td colspan="6"></td>
	
	 </tr>
	
	 <tr>
	 <td style="font-size:23px"colspan="90"><center><b>SICK LEAVE</b></center></td>
	 </tr> 
	 
	 <tr>
		<td colspan="6"></td>
		<td colspan="6"></td>
		<td colspan="6"></td>
		<td colspan="6"></td>
		<td colspan="6"></td>
		<td colspan="6"></td>
		<td colspan="6"></td>
		<td colspan="6"></td>
		<td colspan="6"></td>
		<td colspan="6"></td>
		<td colspan="6"></td>
		<td colspan="6"></td>
		<td colspan="6"></td>
		<td colspan="6"></td>
		<td colspan="6"></td>
	  
	   </tr>

	   <tr>
		<td colspan="6"></td>
		<td colspan="6"></td>
		<td colspan="6"></td>
		<td colspan="6"></td>
		<td colspan="6"></td>
		<td colspan="6"></td>
		<td colspan="6"></td>
		<td colspan="6"></td>
		<td colspan="6"></td>
		<td colspan="6"></td>
		<td colspan="6"></td>
		<td colspan="6"></td>
		<td colspan="6"></td>
		<td colspan="6"></td>
		<td colspan="6"></td>
	  
	   </tr>


	   <tr>
		<td colspan="6"></td>
		<td colspan="6"></td>
		<td colspan="6"></td>
		<td colspan="6"></td>
		<td colspan="6"></td>
		<td colspan="6"></td>
		<td colspan="6"></td>
		<td colspan="6"></td>
		<td colspan="6"></td>
		<td colspan="6"></td>
		<td colspan="6"></td>
		<td colspan="6"></td>
		<td colspan="6"></td>
		<td colspan="6"></td>
		<td colspan="6"></td>
	  
	   </tr>


	 
	 
	 
	 
	 
	 
	 
	 <tr>
	 <td style="font-size:23px"colspan="90"><center><b>CASUAL LEAVE</b></center></td>
	 </tr>
	 
	 <tr>
		<td colspan="6"></td>
		<td colspan="6"></td>
		<td colspan="6"></td>
		<td colspan="6"></td>
		<td colspan="6"></td>
		<td colspan="6"></td>
		<td colspan="6"></td>
		<td colspan="6"></td>
		<td colspan="6"></td>
		<td colspan="6"></td>
		<td colspan="6"></td>
		<td colspan="6"></td>
		<td colspan="6"></td>
		<td colspan="6"></td>
		<td colspan="6"></td>
	  
	   </tr>

	   <tr>
		<td colspan="6"></td>
		<td colspan="6"></td>
		<td colspan="6"></td>
		<td colspan="6"></td>
		<td colspan="6"></td>
		<td colspan="6"></td>
		<td colspan="6"></td>
		<td colspan="6"></td>
		<td colspan="6"></td>
		<td colspan="6"></td>
		<td colspan="6"></td>
		<td colspan="6"></td>
		<td colspan="6"></td>
		<td colspan="6"></td>
		<td colspan="6"></td>
	  
	   </tr>


	   <tr>
		<td colspan="6"></td>
		<td colspan="6"></td>
		<td colspan="6"></td>
		<td colspan="6"></td>
		<td colspan="6"></td>
		<td colspan="6"></td>
		<td colspan="6"></td>
		<td colspan="6"></td>
		<td colspan="6"></td>
		<td colspan="6"></td>
		<td colspan="6"></td>
		<td colspan="6"></td>
		<td colspan="6"></td>
		<td colspan="6"></td>
		<td colspan="6"></td>
	  
	   </tr>

	   <tr>
		<td colspan="6"></td>
		<td colspan="6"></td>
		<td colspan="6"></td>
		<td colspan="6"></td>
		<td colspan="6"></td>
		<td colspan="6"></td>
		<td colspan="6"></td>
		<td colspan="6"></td>
		<td colspan="6"></td>
		<td colspan="6"></td>
		<td colspan="6"></td>
		<td colspan="6"></td>
		<td colspan="6"></td>
		<td colspan="6"></td>
		<td colspan="6"></td>
	  
	   </tr>


	  
	  
	  
	  
	  
	  
	  </body>
	  </table>