<!DOCTYPE html>
<html>
<style>
body {
  font-family: Georgia, serif;
  font-size: 13px;
}



div.a {
  text-align: center;
}

div.b {
  text-align: left;
}

div.c {
  text-align: right;
} 

div.d {
  text-align: justify;
} 

h1 {
  font-size: 23px;
}

h2 {
  font-size: 16px;
}

p {
  font-size: 14px;
}
q {
  font-size: 14px;
}
</style>
</head>
<body>
	<table border=0.5 cellpadding=4 cellspacing=6 width='100%' style='border-collapse:
	collapse;table-layout:fixed;width:auto'>

	<tr>
		<td style="background-color:rgb(255, 218, 255);" colspan="10"><b><h1><center>FORM XV</center></h1></b></td>
	</tr>

	<tr>
		<td style="background-color:rgb(210, 240, 211);" colspan="10"><h2><center>SERVICE CERTIFICATE</center></h2></td>
	</tr>
	<tr>
		<td  colspan="10"><p><center>(Vide Rule 76 of Contract Labour (R&A) Central & A.P{T.S.} Rules, 1971)</center></p></td>
	</tr>

	<tr>
		<td style="background-color:rgb(210, 240, 211);" colspan="5">Name and Address of the Contractor</td>
		<td style="background-color:rgb(210, 240, 211);" colspan="5">Name and Address of the Establishment in/under which Contract is carried on:</td>

	</tr>

	<tr>
		<td  colspan="5">{{Employees.name_of_contractor}}
			<br>
				{{Employees.address_of_contractor}}
			</br>
		</td>
		<td  colspan="5">{{Employees.name_of_contractor}}
			<br>
				{{Employees.address_of_contractor}}
			</br>
		</td>

	</tr>

	<tr>
		<td style="background-color:rgb(210, 240, 211);" colspan="5">Nature of work and location of work:</td>
		<td style="background-color:rgb(210, 240, 211);" colspan="5">Name and address of Principal Employer:</td>

	</tr>
	<tr>
		<td  colspan="5">{{Employees.Nature_and_Location_of_Work}}
		</td>
		<td  colspan="5">{{Employees.Name_of_the_Principal_Employer}}
			<br>
				{{Employees.Address_of_the_principal_Employer}}
			</br>
		</td>

	</tr>

	
	<tr>
		<td colspan="5">Name and address of the workman :</td>
		<td colspan="5"><center>{{Employees.Name_Employeer_Aadhar_Card}}</center></td>

	</tr>

	<tr>
		<td colspan="5"></td>
		<td colspan="5"><center>{{Employees.permanent_h_no_street_name}}</center></td>

	</tr>
	<tr>
		<td colspan="5"></td>
		<td colspan="5"><center>{{Employees.permanent_Village_Name}}</center></td>

	</tr>
	<tr>
		<td colspan="5"></td>
		<td colspan="5"><center>{{Employees.permanent_Mandal_District_Name}}</center></td>

	</tr>
	<tr>
		<td colspan="5"></td>
		<td colspan="5"><center>{{Employees.permanent_State_with_PIN_code}}</center></td>

	</tr>
	
	<tr>
		<td colspan="5">Age or date of Birth :</td>
		<td colspan="5"><center>{{Employees.Date_of_Birth}}</center></td>

	</tr>

	<tr>
		<td colspan="5">Identification Marks :</td>
		<td colspan="5"><center></center></td>






	</tr>
	<tr>
		<td colspan="5"></td>
		<td colspan="5"><center></center></td>

	</tr>
	<tr>
		<td colspan="5">Father's / Husband's Name :</td>
		<td colspan="5"><center>{{Employees.Father_Name}}</center></td>
		

	</tr>
	<tr>
		<td colspan="10"></td>
	</tr>

	<tr>
		<td colspan="1"  rowspan="2"><center>Sl.No.</center></td>
		<td colspan="2"  ><center>Total period for which employed</center></td>
		<td colspan="2"  rowspan="2"><center>Nature of work done</center></td>
		<td colspan="2"  rowspan="2"><center>Rate of wage ( with particulars of units in case of piece work)</center></td>
		<td colspan="3"  rowspan="2"><center>Remarks</center></td>
	</tr>
	

	
	  <tr>
		<th >From</th>
		<th >To</th>
		
	  </tr>

	<tr>
		<td colspan="1"><center>1</center></td>
		<td colspan="1"><center>2</center></td>
		<td colspan="1"><center>3</center></td>
		<td colspan="2"><center>4</center></td>
		<td colspan="2"><center>5</center></td>
		<td colspan="3"><center>6</center></td>
	</tr>
	<tr>
		<td colspan="1"><center></center></td>
		<td colspan="1"><center></center></td>
		<td colspan="1"><center></center></td>
		<td colspan="2"><center></center></td>
		<td colspan="2"><center></center></td>
		<td colspan="3"><center></center></td>
	</tr>
	<tr>
		<td colspan="1"><center></center></td>
		<td colspan="1"><center></center></td>
		<td colspan="1"><center></center></td>
		<td colspan="2"><center></center></td>
		<td colspan="2"><center></center></td>
		<td colspan="3"><center></center></td>
	</tr>
	<tr>
		<td colspan="1"><center></center></td>
		<td colspan="1"><center></center></td>
		<td colspan="1"><center></center></td>
		<td colspan="2"><center></center></td>
		<td colspan="2"><center></center></td>
		<td colspan="3"><center></center></td>
	</tr>
	<tr>
		<td colspan="1"><center></center></td>
		<td colspan="1"><center></center></td>
		<td colspan="1"><center></center></td>
		<td colspan="2"><center></center></td>
		<td colspan="2"><center></center></td>
		<td colspan="3"><center></center></td>
	</tr>
	<tr>
		<td colspan="1"><center></center></td>
		<td colspan="1"><center></center></td>
		<td colspan="1"><center></center></td>
		<td colspan="2"><center></center></td>
		<td colspan="2"><center></center></td>
		<td colspan="3"><center></center></td>
	</tr>
	<tr>
		<td colspan="1"><center></center></td>
		<td colspan="1"><center></center></td>
		<td colspan="1"><center></center></td>
		<td colspan="2"><center></center></td>
		<td colspan="2"><center></center></td>
		<td colspan="3"><center></center></td>
	</tr>
	<tr>
		<td colspan="1"><center></center></td>
		<td colspan="1"><center></center></td>
		<td colspan="1"><center></center></td>
		<td colspan="2"><center></center></td>
		<td colspan="2"><center></center></td>
		<td colspan="3"><center></center></td>
	</tr>
	<tr>
		<td colspan="1"><center></center></td>
		<td colspan="1"><center></center></td>
		<td colspan="1"><center></center></td>
		<td colspan="2"><center></center></td>
		<td colspan="2"><center></center></td>
		<td colspan="3"><center></center></td>
	</tr>
	
	<tr>
		<td colspan="10"><div class="c"><br></br><br></br>
			Signature of the Employer with Seal &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			
			</div>

		</td>
	</tr>
	  
	
	

	

</body>
</html>