<!DOCTYPE html>
<html>
<style>
body {
  font-family: Georgia, serif;
  font-size: 13px;
}
@media print{@page {size: landscape}}
@page {
  margin-left: 1cm;
  margin-right: 1cm;
  margin-bottom: 1cm;
  margin-top: 1cm;
}

div.a {
  text-align: center;
}

div.b {
  text-align: left;
}

div.c {
  text-align: right;
} 

div.d {
  text-align: justify;
} 

h1 {
  font-size: 23px;
}

h2 {
  font-size: 16px;
}

p {
  font-size: 14px;
}
q {
  font-size: 14px;
}
</style>
</head>
<body>
	<table border=0.5 cellpadding=5 cellspacing=6 width='100%' style='border-collapse:
	collapse;table-layout:fixed;width:auto'>

	<tr>
		<td style="background-color:rgb(75, 155, 246);" colspan="1"><center>S.No</center></td>
    <td style="background-color:rgb(75, 155, 246);" colspan="2"><center>EMPLOYEE NAME</center></td>
    <td style="background-color:rgb(75, 155, 246);" colspan="2"><center>PAN NUMBER</center></td>
    <td style="background-color:rgb(75, 155, 246);" colspan="2"><center>EARNED GROSS WAGES</center></td>
    <td style="background-color:rgb(75, 155, 246);" colspan="2"><center>AMOUNT OF TAX DEDUCTED</center></td>
    <td style="background-color:rgb(75, 155, 246);" colspan="2"><center>DATE OF PAYMENT
    </center></td>
    <td style="background-color:rgb(75, 155, 246);" colspan="2"><center>PAYMENT MODE
    </center></td>
    <td style="background-color:rgb(75, 155, 246);" colspan="2"><center>BANK NAME
    </center></td>
    <td style="background-color:rgb(75, 155, 246);" colspan="2"><center>IFSC CODE
    </center></td>
    <td style="background-color:rgb(75, 155, 246);" colspan="2"><center>ACCOUNT NUMBER
    </center></td>
    <td style="background-color:rgb(75, 155, 246);" colspan="2"><center>REMARKS
    </center></td>
    
	
	</tr>

	

	</tr>



	<tr>
		<td colspan="1"><center></center></td>
    <td colspan="2"><center></center></td>
    <td colspan="2"><center></center></td>
    <td colspan="2"><center></center></td>
    <td colspan="2"><center></center></td>
    <td colspan="2"><center></center></td>
    <td colspan="2"><center></center></td>
    <td colspan="2"><center></center></td>
    <td colspan="2"><center></center></td>
    <td colspan="2"><center></center></td>
    <td colspan="2"><center></center></td>
	</tr>

	
	<tr>
		<td colspan="1"><center></center></td>
    <td colspan="2"><center></center></td>
    <td colspan="2"><center></center></td>
    <td colspan="2"><center></center></td>
    <td colspan="2"><center></center></td>
    <td colspan="2"><center></center></td>
    <td colspan="2"><center></center></td>
    <td colspan="2"><center></center></td>
    <td colspan="2"><center></center></td>
    <td colspan="2"><center></center></td>
    <td colspan="2"><center></center></td>
	</tr>

	
	<tr>
		<td colspan="1"><center></center></td>
    <td colspan="2"><center></center></td>
    <td colspan="2"><center></center></td>
    <td colspan="2"><center></center></td>
    <td colspan="2"><center></center></td>
    <td colspan="2"><center></center></td>
    <td colspan="2"><center></center></td>
    <td colspan="2"><center></center></td>
    <td colspan="2"><center></center></td>
    <td colspan="2"><center></center></td>
    <td colspan="2"><center></center></td>
	</tr>

	
	<tr>
		<td colspan="1"><center></center></td>
    <td colspan="2"><center></center></td>
    <td colspan="2"><center></center></td>
    <td colspan="2"><center></center></td>
    <td colspan="2"><center></center></td>
    <td colspan="2"><center></center></td>
    <td colspan="2"><center></center></td>
    <td colspan="2"><center></center></td>
    <td colspan="2"><center></center></td>
    <td colspan="2"><center></center></td>
    <td colspan="2"><center></center></td>
	</tr>

	
	<tr>
		<td colspan="1"><center></center></td>
    <td colspan="2"><center></center></td>
    <td colspan="2"><center></center></td>
    <td colspan="2"><center></center></td>
    <td colspan="2"><center></center></td>
    <td colspan="2"><center></center></td>
    <td colspan="2"><center></center></td>
    <td colspan="2"><center></center></td>
    <td colspan="2"><center></center></td>
    <td colspan="2"><center></center></td>
    <td colspan="2"><center></center></td>
	</tr>

	
	<tr>
		<td colspan="1"><center></center></td>
    <td colspan="2"><center></center></td>
    <td colspan="2"><center></center></td>
    <td colspan="2"><center></center></td>
    <td colspan="2"><center></center></td>
    <td colspan="2"><center></center></td>
    <td colspan="2"><center></center></td>
    <td colspan="2"><center></center></td>
    <td colspan="2"><center></center></td>
    <td colspan="2"><center></center></td>
    <td colspan="2"><center></center></td>
	</tr>

	
	<tr>
		<td colspan="1"><center></center></td>
    <td colspan="2"><center></center></td>
    <td colspan="2"><center></center></td>
    <td colspan="2"><center></center></td>
    <td colspan="2"><center></center></td>
    <td colspan="2"><center></center></td>
    <td colspan="2"><center></center></td>
    <td colspan="2"><center></center></td>
    <td colspan="2"><center></center></td>
    <td colspan="2"><center></center></td>
    <td colspan="2"><center></center></td>
	</tr>

	
	<tr>
		<td colspan="1"><center></center></td>
    <td colspan="2"><center></center></td>
    <td colspan="2"><center></center></td>
    <td colspan="2"><center></center></td>
    <td colspan="2"><center></center></td>
    <td colspan="2"><center></center></td>
    <td colspan="2"><center></center></td>
    <td colspan="2"><center></center></td>
    <td colspan="2"><center></center></td>
    <td colspan="2"><center></center></td>
    <td colspan="2"><center></center></td>
	</tr>

	
	<tr>
		<td colspan="1"><center></center></td>
    <td colspan="2"><center></center></td>
    <td colspan="2"><center></center></td>
    <td colspan="2"><center></center></td>
    <td colspan="2"><center></center></td>
    <td colspan="2"><center></center></td>
    <td colspan="2"><center></center></td>
    <td colspan="2"><center></center></td>
    <td colspan="2"><center></center></td>
    <td colspan="2"><center></center></td>
    <td colspan="2"><center></center></td>
	</tr>

	
	<tr>
		<td colspan="1"><center></center></td>
    <td colspan="2"><center></center></td>
    <td colspan="2"><center></center></td>
    <td colspan="2"><center></center></td>
    <td colspan="2"><center></center></td>
    <td colspan="2"><center></center></td>
    <td colspan="2"><center></center></td>
    <td colspan="2"><center></center></td>
    <td colspan="2"><center></center></td>
    <td colspan="2"><center></center></td>
    <td colspan="2"><center></center></td>
	</tr>

	
	<tr>
		<td colspan="1"><center></center></td>
    <td colspan="2"><center></center></td>
    <td colspan="2"><center></center></td>
    <td colspan="2"><center></center></td>
    <td colspan="2"><center></center></td>
    <td colspan="2"><center></center></td>
    <td colspan="2"><center></center></td>
    <td colspan="2"><center></center></td>
    <td colspan="2"><center></center></td>
    <td colspan="2"><center></center></td>
    <td colspan="2"><center></center></td>
	</tr>

	
	
	

	
	<tr>
		<td colspan="1"><center></center></td>
    <td colspan="2"><center></center></td>
    <td colspan="2"><center></center></td>
    <td colspan="2"><center></center></td>
    <td colspan="2"><center></center></td>
    <td colspan="2"><center></center></td>
    <td colspan="2"><center></center></td>
    <td colspan="2"><center></center></td>
    <td colspan="2"><center></center></td>
    <td colspan="2"><center></center></td>
    <td colspan="2"><center></center></td>
	</tr>

	
	<tr>
		<td colspan="1"><center></center></td>
    <td colspan="2"><center></center></td>
    <td colspan="2"><center></center></td>
    <td colspan="2"><center></center></td>
    <td colspan="2"><center></center></td>
    <td colspan="2"><center></center></td>
    <td colspan="2"><center></center></td>
    <td colspan="2"><center></center></td>
    <td colspan="2"><center></center></td>
    <td colspan="2"><center></center></td>
    <td colspan="2"><center></center></td>
	</tr>

	
	<tr>
		<td colspan="1"><center></center></td>
    <td colspan="2"><center></center></td>
    <td colspan="2"><center></center></td>
    <td colspan="2"><center></center></td>
    <td colspan="2"><center></center></td>
    <td colspan="2"><center></center></td>
    <td colspan="2"><center></center></td>
    <td colspan="2"><center></center></td>
    <td colspan="2"><center></center></td>
    <td colspan="2"><center></center></td>
    <td colspan="2"><center></center></td>
	</tr>

	
	<tr>
		<td colspan="1"><center></center></td>
    <td colspan="2"><center></center></td>
    <td colspan="2"><center></center></td>
    <td colspan="2"><center></center></td>
    <td colspan="2"><center></center></td>
    <td colspan="2"><center></center></td>
    <td colspan="2"><center></center></td>
    <td colspan="2"><center></center></td>
    <td colspan="2"><center></center></td>
    <td colspan="2"><center></center></td>
    <td colspan="2"><center></center></td>
	</tr>

	
	<tr>
		<td colspan="1"><center></center></td>
    <td colspan="2"><center></center></td>
    <td colspan="2"><center></center></td>
    <td colspan="2"><center></center></td>
    <td colspan="2"><center></center></td>
    <td colspan="2"><center></center></td>
    <td colspan="2"><center></center></td>
    <td colspan="2"><center></center></td>
    <td colspan="2"><center></center></td>
    <td colspan="2"><center></center></td>
    <td colspan="2"><center></center></td>
	</tr>

	
	<tr>
		<td colspan="1"><center></center></td>
    <td colspan="2"><center></center></td>
    <td colspan="2"><center></center></td>
    <td colspan="2"><center></center></td>
    <td colspan="2"><center></center></td>
    <td colspan="2"><center></center></td>
    <td colspan="2"><center></center></td>
    <td colspan="2"><center></center></td>
    <td colspan="2"><center></center></td>
    <td colspan="2"><center></center></td>
    <td colspan="2"><center></center></td>
	</tr>

	
	<tr>
		<td colspan="1"><center></center></td>
    <td colspan="2"><center></center></td>
    <td colspan="2"><center></center></td>
    <td colspan="2"><center></center></td>
    <td colspan="2"><center></center></td>
    <td colspan="2"><center></center></td>
    <td colspan="2"><center></center></td>
    <td colspan="2"><center></center></td>
    <td colspan="2"><center></center></td>
    <td colspan="2"><center></center></td>
    <td colspan="2"><center></center></td>
	</tr>
	<tr>
		<td colspan="1"><center></center></td>
    <td colspan="2"><center></center></td>
    <td colspan="2"><center></center></td>
    <td colspan="2"><center></center></td>
    <td colspan="2"><center></center></td>
    <td colspan="2"><center></center></td>
    <td colspan="2"><center></center></td>
    <td colspan="2"><center></center></td>
    <td colspan="2"><center></center></td>
    <td colspan="2"><center></center></td>
    <td colspan="2"><center></center></td>
	</tr>
  <tr>
		<td colspan="1"><center></center></td>
    <td colspan="2"><center></center></td>
    <td colspan="2"><center></center></td>
    <td colspan="2"><center></center></td>
    <td colspan="2"><center></center></td>
    <td colspan="2"><center></center></td>
    <td colspan="2"><center></center></td>
    <td colspan="2"><center></center></td>
    <td colspan="2"><center></center></td>
    <td colspan="2"><center></center></td>
    <td colspan="2"><center></center></td>
	</tr>
  <tr>
		<td colspan="1"><center></center></td>
    <td colspan="2"><center></center></td>
    <td colspan="2"><center></center></td>
    <td colspan="2"><center></center></td>
    <td colspan="2"><center></center></td>
    <td colspan="2"><center></center></td>
    <td colspan="2"><center></center></td>
    <td colspan="2"><center></center></td>
    <td colspan="2"><center></center></td>
    <td colspan="2"><center></center></td>
    <td colspan="2"><center></center></td>
	</tr>
  <tr>
		<td colspan="1"><center></center></td>
    <td colspan="2"><center></center></td>
    <td colspan="2"><center></center></td>
    <td colspan="2"><center></center></td>
    <td colspan="2"><center></center></td>
    <td colspan="2"><center></center></td>
    <td colspan="2"><center></center></td>
    <td colspan="2"><center></center></td>
    <td colspan="2"><center></center></td>
    <td colspan="2"><center></center></td>
    <td colspan="2"><center></center></td>
	</tr>
  
	

	






	

	

</body>
</html>