<!DOCTYPE html>
<html>
<style>
body {
  font-family: Georgia, serif;
}



div.a {
  text-align: center;
}

div.b {
  text-align: left;
}

div.c {
  text-align: right;
} 

div.d {
  text-align: justify;
} 

h1 {
  font-size: 23px;
}

h2 {
  font-size: 16px;
}

p {
  font-size: 14px;
}
q {
  font-size: 14px;
}
</style>
</head>
<body>
	<table border=0.5 cellpadding=4 cellspacing=6 width='100%' style='border-collapse:
	collapse;table-layout:fixed;width:auto'>

	<tr>
		<td style="background-color:rgb(229, 231, 234);" colspan="6"><b><h1><center>FORM B</center></h1></b></td>
	</tr>

	<tr>
		<td style="background-color:rgb(210, 240, 211);" colspan="6"><h2><center>[See Rule 4(1) of Maternity Act Rules, 1965]</center></h2></td>
	</tr>

	<tr>
		<td colspan="6"><q>Name of [mine or circus]:  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; GROTECH LANDSCAPE DEVELOPERS PVT. LTD.
				
				<div class="a">290/E, Khanapur Village, Gandipet Mandal, Ranga Reddy, Hyderabad-500075 T.S.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div> </q>
			<div class="d">
			<p><br><br>&nbsp;&nbsp;This is to certify that I examined............ wife /daughter of.............. a woman employee
				 in name of Mine or Circus on (Date)
				and found/ cannot discover that she is pregnant and is expected to be delivered of a child within (month/days) from the above
				mentioned date date/has undergone miscarriage/[Medical termination of pregnancy or tubectomy 
				operation]/has been delivered
				of a child on....... (date) or is suffering from.......(date) from illness arising out of pregnancy/delivery/premature birth of a child or miscarriage/
				[Medical termination of pregnancy or tubectomy operation ].</br></br></p></div>

			<div class="c"><p>
				Signature, qualifications and designation of Medical Officer/Medical Practitioner.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
			</div>
			
			<div class="b">
			<p>&nbsp;&nbsp;Date...</p>
		<p>&nbsp;&nbsp;Definitions of "child" and "miscarriage" as in the Maternity Benefit Act, 1961.-</p>
	<p>&nbsp;&nbsp;1. "Child" includes a still-born child.</p>
<p>&nbsp;&nbsp;2. "Miscarriage" means expulsion of the contents of a pregnant uterus at any period prior to or during the twenty-sixth week of pregnancy 
				but does not include any miscarriage,the causing of which is punishable under the Indian Penal Code.</p>
			<p>&nbsp;&nbsp;Ins. by G.S.R. 70(E), dated 31st January, 1996 (w.e.f. 31-1-1996).</p>
			</div>
		
			<div class="c">
			<p><br>Certifited that no pregnant employee worked for the month of <b>Sep-22</b> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</br></p>
			</div>

			<div class="c">
			<p>For <b>GROTECH LANDSCAPE DEVELOPERS PVT. LTD.</b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
			</div>

			<div class="c">
			<p>Authorized Signatory &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
			<br></br><br></br>
			</div>
		
		
		
		
		
		
		
		
		
		
		</td>
		
	</tr>

	

</body>
</html>